{% extends "layout.html" %}

{% block content %}
    <!-- <div class="alert alert-secondary">
        Virtual machines will be proviced end of January 2022. plz. develop using the API locally.    
    </div> -->
    <div class="alert alert-secondary">
        If you go for a distributed implementation and need more VMs for the evaluation, please e-mail: debsgc22@gmail.com
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Internal Address</th>
                <th>Forwarding</th>
                <th>Last added pub key</th>
            </tr>
            </thead>
            <tbody>
            {% for vm in vms %}
                <tr>
                    <td>{{ vm.internaladrs }}</td>
                    <td>{{ vm.forwardingadrs }}</td>
                    <td>{{ vm.sshpubkey }}</td>
                </tr>
                <tr>
                    <td>Command:</td>
                    <td colspan="2">{{ ssh[vm.id] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <form action="{{ url_for('vms') }}" method="post" class="form">
        <h5>Add public key to VM</h5>
        <div class="form-group row">
            <label for="VMAdrs" class="col-sm-3 col-form-label">VM Address</label>
            <div class="col-sm-7">
                <select name="VMAdrs">
                    {% for vm in vms %}
                        <option value="{{vm.forwardingadrs}}/{{vm.internaladrs}}">{{vm.forwardingadrs}}/{{vm.internaladrs}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputSSHKeyId" class="col-sm-3 col-form-label">SSH-Key public key</label>
            <div class="col-sm-7">
                <input type="text" name="sshpubkey" class="form-control" id="inputSSHKeyId" value="">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
                <input type="submit" name="sshkey" class="btn btn-primary mb-2" value="Add key" />
            </div>
        </div>
    </form>
    <div>
        <h4>SSH-Key</h4>
        <p>Use an existing public key or create a new key locally on your machine. On Linux you may find the key under .ssh/ and with the extension .pub</p>
        <p><a target="_blank" href="https://docs.github.com/en/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent">Here</a> is a tutorial on how to create a ssh key.</p>
    </div>

{% endblock %}